.App {
  text-align: center;
}

main {
  padding: 32px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

main .btn {
  background: #61dafb;
  border-radius: 20px;
  width: 100px;
  height: 35px;
  font-weight: bold;
}


